@mixin pinkButton() {
    display: inline-block;
    padding: 13px 20px;
    border-radius: 50px;
    color: white;
    background: $dental-centar-pink;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px solid rgb(78, 0, 92);
    transition: .2s ease-in-out;
    font-size: .7em;
    letter-spacing: 1px;
     &:hover{
         opacity: .8;
     }
     &:active{
         opacity: 1;
     }
 }
