@import "./variables";
@import "./mixins";
@import "./include-media.css";
html{
    scroll-behavior: smooth;
}

body{
    background: #dee7ff;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: $dental-centar-blue;
}
.alert-success,
.alert-error{
    text-align: center;
    font-size: 1.3em;
    margin-top: 5%;
    animation: introHeading 1s ease-in-out;
    @media (max-width: 420px) {
        font-size: 1em;
          }
    @media (max-width: 320px) {
        font-size: .7em;
          }
}
.alert-success{
    color: rgb(23, 165, 23);
}
.alert-error{
    color: rgb(216, 20, 20);
}
.forma{
    margin: 5% auto;
    width: 80%;
    text-align: center;
    @media (max-width: 1024px) {
        margin-top: 10%;
          }
    label{
        font-size: 1.1em;
        animation: introHeading;
        animation-timing-function: ease-in-out;
        &:nth-of-type(1){
            animation-duration: .4s;
        }
        &:nth-of-type(2){
            animation-duration: .8s;
        }
        &:nth-of-type(3){
            animation-duration: 1.2s;
        }
        &:nth-of-type(4){
            animation-duration: 1.6s;
        }
        &:nth-of-type(5){
            animation-duration: 2s;
        }
    }
    input,
    textarea,
    button{
        width: 30%;
        border-radius: 16px;
        margin:5px 0 15px;
        padding:10px;
        border: none;
        outline: none;
        animation: dropMenu;
        animation-timing-function: ease-in-out;
        animation-fill-mode:forwards;
        font-family: 'Nunito', sans-serif;
        &:focus{
            border: 1px solid $dental-centar-blue;
        }
        @media (max-width: 1024px) {
            width: 60%;
              }
        @media (max-width: 500px) {
            width: 80%;
              }
        @media (max-width: 420px) {
            width: 90%;
              }
    }
    input{
        &:nth-of-type(1){
        animation-duration: 300ms;
        }
        &:nth-of-type(2){
        animation-duration: 500ms;
        }
        &:nth-of-type(3){
        animation-duration: 700ms;
        }
        &:nth-of-type(4){
        animation-duration: 900ms;
        }
    }
    textarea{
        animation-duration: 1200ms;
    }
    .send-btn{
        @include pinkButton();
        animation-duration: 1400ms;
    }
}
a{
    text-decoration: none;
    color: $dental-centar-blue;
}
a,
button{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select:none;
}

header{
    font-size: 1.1em;
    height: 50px;
    padding: 0px 30px;
    border-radius: 30px;
    width: 80%;
    margin: 1% auto;
    display: flex;
    line-height: 50px;
    justify-content: space-between;
    @media (max-width: 540px) {
       width: 90%;
       padding: 0 10px;
         }
    .hamburger{
        display: none;
        margin-top: 8px;
        margin-right: 5px;
        height: 40px;
        width: 40px;
        background: $dental-centar-blue;
        border-radius: 50%;
        z-index: 2047;
        span{
            display: block;
            margin-left: 10px;
            margin-bottom: 5px;
            width: 20px;
            height: 2px;
            background: white;
            transition: .2s ease-in-out;
            &:nth-child(1){
                margin-top: 12px;
            }
            &:nth-child(1).active{
                margin-top: 10px;
            }
            &:nth-child(3){
                margin-bottom: 0;
            }
            &:nth-child(2).active{
                opacity: 0;
            }
            &:nth-child(3).active{
                transform:translateY(-10px) rotate(45deg);
                margin-top: 11px;
            }
        }
        span.active{
            transform:translateY(10px) rotate(-45deg);
        }
     
        @media (max-width: 1024px) {
            display: block;
           }
        
    }    
    .logo{
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        z-index: 1000;
        svg{
            display: flex;
            width: 35px;
            height: 35px;
            margin-top: 8px;
            @media (max-width: 540px) {
                width: 40px;
                height: 40px;
                margin-top: 7px;
                
                  }
          
        }
        p{
            font-size: 1.2em;
            line-height: 10px;
            margin-left: 8px;
            display: flex;
            @media (max-width: 540px) {
               font-size: 1em;
               margin-left: 5px;
               line-height: 18px;
                }
           
        }
    }
    nav{
        
        @media (max-width: 1024px) {
         display: none;
         
        }
        a{
            padding: 8px 15px;
            border-radius: 20px;
            text-transform: uppercase;
            transition: .2s ease-in-out;
            cursor: pointer;
            &:hover{
                background: $dental-centar-pink;
                color: white;
            }
       
        }
    }
    nav.active{
        @media (max-width: 1024px) {
            display: block;
            margin-top: 10%;
            height: 350px;
            z-index: 3;
            margin-right: -88%;
        }
        @media (max-width: 800px) {
          margin-right: -77.5%;
          margin-top: 12%;
        }
        @media (max-width: 600px) {
          margin-right: -64.5%;
        }
        @media (max-width: 540px) {
          margin-right: -49.5%;
        }
        @media (max-width: 480px) {
          margin-top: 17%;
        }
        @media (max-width: 420px) {
          margin-right: -38.5%;
        }
        @media (max-width: 390px) {
          margin-right: -33.5%;
        }
        @media (max-width: 375px) {
          margin-right: -31%;
          margin-top: 20%;
        }
        @media (max-width: 360px) {
          margin-right: -28.5%;
        }
        @media (max-width: 320px) {
          margin-right: -22.5%;
          font-size: .9em;
        }
       
        a{
            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column;
                text-align: center;
                border-radius: 0;
                background: $dental-centar-blue;
                color:white;
                animation: dropMenu;
                animation-timing-function: ease-in-out;
                animation-fill-mode:forwards;
                box-shadow: 0px 0px 10px 3px rgba(0, 0, 92, 0.335) ;
                &:nth-child(1){
                    border-radius: 35px 0 0 0;
                    animation-duration: 250ms;
                }
                &:nth-child(2){
                    animation-duration: 550ms;
                }
                &:nth-child(3){
                    animation-duration: 850ms;
                }
                &:nth-child(4){
                    animation-duration: 1150ms;
                }
                &:nth-child(5){
                    border-radius: 0 0 0 35px;
                    animation-duration: 1450ms;
                }
                  }
               
                } 
    }
}
.centeredHeader{
    justify-content: center;
    a{
        margin-left: -2%;
    }
}

.section{
    height: 100vh;
    @media (max-width: 1024px) {
        height: 70vh;
          }
    @media (max-width: 600px) {
        height: 90vh;
          }
           
    h2{
        text-align: center;
        color: $dental-centar-blue;
        opacity: .7;
        font-size: 3em;
        font-weight: 500;
        letter-spacing: 2px;
        @media (max-width: 540px) {
         font-size: 2.5em;
              }
        @media (max-width: 490px) {
         font-size: 1.8em;
              }
    }
}

.priceListSection.hide{
    display: none;
}
.priceListSection{
display: block;

.closeButton{
    cursor: pointer;
    width: 50px;
    height: 50px;
    z-index: 340;
    position: absolute;
    right: 5%;
    top: 1.8%;
    @media (max-width: 1024px) {
        display: none;
             }
    span{
        width: 90%;
        height: 3px;
        background: $dental-centar-blue;
        display: block;
        margin-bottom: 3px;
        border-radius: 5px;
        transform:translateY(10px) rotate(-45deg);
        &:nth-child(1){
            margin-top: 18px;
            margin-bottom: 18px;
        }
        &:nth-child(2){
        transform:translateY(-10px) rotate(45deg);
        
        }
    }
}
.priceList{
    z-index: 34;
    width: 95%;
    margin-left: 2.5%;
    position: absolute;
    top: 6%;
    color: white;
    @media (max-width: 1024px) {
        width: 80%;
        margin-left: 10%;
        top: 3%;
             }
    @media (max-width: 800px) {
        width: 90%;
        top: 5%;
        margin-left: 5%;
             }
    @media (max-width: 490px) {
        width: 95%;
        margin-left: 2.5%;
        top: 8%;
             }
    @media (max-width: 320px) {
        width: 100%;
        margin-left: 0;
        top: 10%;
             }
  
    
    h2{
        text-align: center;
        color: $dental-centar-blue;
        font-size: 3em;
        letter-spacing: 5px;
        font-weight: 300;
        animation: introHeading .4s ease-in-out;
   
        @media (max-width: 800px) {
        font-size: 2.8em;
                 }
        @media (max-width: 490px) {
        font-size: 2.5em;
                 }
        @media (max-width: 360px) {
        font-size: 2em;
                 }
        @media (max-width: 320px) {
        font-size: 1.8em;
                 }
    }
    table{
        background: none;
        
        tr{
            background: $dental-centar-blue;
            color: white;
            font-size: 1.2em;
            animation: dropMenu;
            animation-timing-function: ease-in-out;
            animation-fill-mode:forwards;
            &:nth-child(1){
                animation-duration: 300ms;
                
            }
            &:nth-child(2){
                animation-duration: 400ms;
            }
            &:nth-child(3){
                animation-duration: 500ms;
            }
            &:nth-child(4){
                animation-duration: 600ms;
            }
            &:nth-child(5){
                animation-duration: 700ms;
            }
            &:nth-child(6){
                animation-duration: 800ms;
            }
            &:nth-child(7){
                animation-duration: 900ms;
            }
            &:nth-child(8){
                animation-duration: 1000ms;
            }
            &:nth-child(9){
                animation-duration: 1100ms;
            }
            &:nth-child(10){
                animation-duration: 1200ms;
            }
            &:nth-child(11){
                animation-duration: 1300ms;
            }
            &:nth-child(12){
                animation-duration: 1400ms;
            }
            &:nth-child(13){
                animation-duration: 1500ms;
            }
            &:nth-child(14){
                animation-duration: 1600ms;
            }
            &:nth-child(15){
                animation-duration: 1700ms;
            }
            &:nth-child(16){
                animation-duration: 1800ms;
            }
            &:nth-child(17){
                animation-duration: 1900ms;
            }
            &:nth-child(18){
                animation-duration: 2000ms;
            }
            &:nth-child(19){
                animation-duration: 2100ms;
            }
            &:nth-child(20){
                animation-duration: 2200ms;
            }
         
            @media (max-width: 490px) {
                font-size: 1em;
                         }
          &:nth-child(even){
            background: $dental-centar-pink;
          }

        }
        th{
            color: white;
            padding: 20px;
            background:$dental-centar-blue;
            &:nth-child(1),
            &:nth-child(3){
                width: 10%;
            }
            &:nth-child(1){
                border-radius: 16px 0 0 0;
            }
            &:nth-child(3){
                border-radius: 0 16px 0 0  ;
            }
        }
        
        td{
           padding: 20px;
           text-align: center;
           
           @media (max-width: 490px) {
            padding: 15px 5px;
                 } 
           @media (max-width: 320px) {
            padding: 15px 0px;
                 } 
           
        }
        .lastTd{
                border-radius:0 0 0 16px;
        }
        .lastTd2{
                border-radius:0 0 16px 0;
        }
    }
}}
.heroSection{
    display: flex;
    position: relative;
    width: 70%;
    margin: 12.5% auto 0%;
    @media (max-width: 1280px) {
        margin: 15% auto 0%;
        width: 75%;    
    } 
    @media (max-width: 1180px) {
        width: 80%;    
    }
    @media (max-width: 1024px) {
        text-align: center;
        justify-content: center;
        height: 60vh;
        margin-bottom: 18%;
          } 
    @media (max-width: 600px) {
        width: 95%;
          } 
    
    .left{
        z-index: 1;
        @media (max-width: 1024px) {
            margin-top: 25%;
              }
        @media (max-width: 600px) {
            margin-top: 30%;
              }
        @media (max-width: 540px) {
            margin-top: 42%;
              }
        @media (max-width: 420px) {
            margin-top: 50%;
              }
        @media (max-width: 360px) {
            margin-top: 60%;
              }
        @media (max-width: 320px) {
            margin-top: 65%;
              }
       
       h1{
           font-size: 3.5em;
           margin-bottom: 0;
           font-weight: 600;
           @media (max-width: 1500px) {
           font-size: 2.8em;
             }
           @media (max-width: 540px) {
           font-size: 2.2em;
             }
           @media (max-width: 420px) {
           font-size: 2em;
           margin-bottom: 10px;
             }
           @media (max-width: 390px) {
           font-size: 1.9em;
             }
           @media (max-width: 360px) {
           font-size: 1.7em;
           margin-bottom: 6px;
             }
           @media (max-width: 320px) {
           font-size: 1.5em;
           margin-bottom: 6px;
             }
           @media (max-width: 280px) {
           font-size: 1.4em;
             }
       }
       h3{
           font-size: 3em;
           font-weight: 400;
           margin-bottom: 0;
           margin-top: -5px;
           @media (max-width: 1500px) {
            font-size: 2.3em;
              }  
           @media (max-width: 540px) {
            font-size: 2em;
              }  
           @media (max-width: 420px) {
            font-size: 1.8em;
            margin-bottom: 10px;
              }  
           @media (max-width: 390px) {
            font-size: 1.6em;
            margin-bottom: 6px;
              }  
           @media (max-width: 360px) {
            font-size: 1.4em;
              }  
           @media (max-width: 320px) {
            font-size: 1.3em;
              }  
           @media (max-width: 280px) {
            font-size: 1.2em;
              }  
         
           &:nth-of-type(2){
               font-size: 2.5em;
               margin: 0px 0 15px;
               font-weight: 300;
               @media (max-width: 1500px) {
                font-size: 1.8em;
                } 
               @media (max-width: 420px) {
                font-size: 1.6em;
                } 
               @media (max-width: 390px) {
                font-size: 1.4em;
                } 
               @media (max-width: 360px) {
                font-size: 1.3em;
                } 
               @media (max-width: 320px) {
                font-size: 1.2em;
                } 
               @media (max-width: 280px) {
                font-size: 1.1em;
                } 
            
           }
       }
       a{
          @include pinkButton();
        }
    }
    .right{
        
        img{
        opacity: .5;            
        top: -20%;
        right: -16%;
        position: absolute;  
        height: 800px;    
        width: 800px;
        @media (max-width: 1500px) {
            height: 550px;
            width: 550px;
             }
        @media (max-width: 1280px) {
            height: 500px;
            width: 500px;
            }         
        
        @media (max-width: 1090px) {
            height: 450px;
            width: 450px;
            right: -8%;
            top:-15%;
            }         
        @media (max-width: 1024px) {
            height: 450px;
            width: 450px;
            right: 23%;
            top:-20%;
            
            }         
        @media (max-width: 800px) {
            height: 300px;
            width: 300px;
            top: -12.5%;
            right: 27%;
            }         
        @media (max-width: 600px) {
            top: -12.5%;
            right: 25%;
            }         
        @media (max-width: 540px) {
            top: -11.5%;
            right: 20%;
            }         
        @media (max-width: 420px) {
            width: 250px;
            height: 250px;
            top: -8%;
            right: 21%;
            }         
        @media (max-width: 390px) {
            width: 230px;
            height: 230px;
            }         
        @media (max-width: 360px) {
            right: 17%;
            top: -4%;
            }         
            
        @media (max-width: 280px) {
            right:9.5%;
            }         
    }}
}
.servicesSection{
    display: flex;
    justify-content: center;
    @media (max-width: 1090px) {
        margin-top: -30%;
        } 
    @media (max-width: 600px) {
        margin-top: -20%;
        } 
    @media (max-width: 420px) {
        margin-top: 0%;
        } 
    .container{
        height: 80%;
        width: 65%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @media (max-width: 1500px) {
            width: 90%;
            height: 90%;
            } 
        @media (max-width: 1280px) {
            height: 90%;
            } 
        @media (max-width: 1024px) {
            height: 90vh;
            }     
        @media (max-width: 600px) {
            height: 100vh;
            }     
        .service{
            height: 360px;
            width: 360px;
            margin: 10px;
            border-radius: 45px;
            @media (max-width: 1500px) {
            height: 340px;
            width: 340px;
                } 
            @media (max-width: 1140px) {
            height: 320px;
            width: 320px;
                } 
            @media (max-width: 600px) {
            height: 370px;
            width: 370px;
                } 
            @media (max-width: 420px) {
            height: 340px;
            width: 340px;
                } 
            @media (max-width: 390px) {
            height: 320px;
            width: 320px;
                } 
            @media (max-width: 375px) {
            height: 300px;
            width: 300px;
                } 
            @media (max-width: 320px) {
            height: 267px;
                } 
            @media (max-width: 280px) {
            height: 235px;
            width: 280px;
                } 
             
            &:nth-child(1){
                background: none;
                color: $dental-centar-pink;
                text-align: center;
                h2{
                    margin-top: 40%;
                    font-size: 3em;
                    font-weight: 400;
                    letter-spacing: 2px;
                }
                @media (max-width: 600px) {
                    height: 140px;
                    width: 200px;
                    font-size: .7em;
                        } 
            }
            &:nth-child(2){
               background: url(../img/services/1.jpg) 26% 10%;
            }
            &:nth-child(3){
               background: url(../img/services/2.png) no-repeat 40% 60%;
            }
            &:nth-child(4){
               background: url(../img/services/3.jpg) no-repeat 40% 60%;
            }
            &:nth-child(5){
               background: url(../img/services/4.jpg) no-repeat 40% 80%;
            }
            &:nth-child(6){
                background: url(../img/services/5.jpg) no-repeat 60% 60%;
             }
            
           .content{
               background: #e19fffd2;
               height: 90%;
               width: 90%;
               padding: 5%;
               border-radius: 45px;
               position: relative;
               text-align: center;
              
               
               @media (max-width: 1024px) {
                background: #7ab4dbda;
                    }
                    .contentText{
                        display: none;
                    }
                    .contentText.active{
                        display: block;
                        padding: 0px 10px;
                        border-radius: 16px;
                        transition: .2s ease-in-out;
                        p{
                            color: white;
                            font-size: 1em;
                            text-align: center;
                            margin: 5px;
                        }
                    } 
               h3{
                   color: white;
                   text-transform: uppercase;
                   font-weight: 300;
                   font-size: 1.4em;
                   letter-spacing: 1px;
                   margin-top: 35%;
                   margin-bottom: 10%;
                   user-select:none;
                   transition: .2s ease-in-out;
               }
               a{
                   padding: 10px 15px;
                   background: rgba(255, 255, 255, 0.815);
                   border-radius: 30px;
                   transition: .2s ease-in-out;
                   color: #8f2cbd;
                   cursor: pointer;
                   span{
                       &:nth-child(2){
                           display: none;
                       }
                   }
                   @media (max-width: 1024px) {
                    color: $dental-centar-blue;
                        } 
                   &:hover{
                       background: rgb(255, 255, 255);
                   }
                   &:active{
                       background: rgba(255, 255, 255, 0.815);
                   }
               }
           }
          
         &:nth-child(3) .content,
         &:nth-child(5) .content{
             background: #7ab4dbda;
             
             a{
              color: $dental-centar-blue;
           
             }
         }
         &:nth-child(5) .content{
             h3{
                 margin-top: 41%;
                 margin-bottom: 13%;
             }
         }
     
        &:nth-child(2) .content,
        &:nth-child(3) .content,
        &:nth-child(6) .content{
           
              @media (max-width: 1024px) {
                background: #e19fffd2;
                    }
               a{
                @media (max-width: 1024px) {
                    color: #8f2cbd;
                        }  
               }         
        }
        &:nth-child(3) .content{
            @media (max-width: 600px) {
                background: #7ab4dbda;
                a{
                    color: $dental-centar-blue;
                    }
                    }
               
        }
        &:nth-child(4) .content{
            @media (max-width: 600px) {
                background: #e19fffd2;
                a{
                    color: #8f2cbd;
                    }
                    }
        }
       &.active{
           .content{
            
                h3{
                    margin-top: 5%;
                  
                }
              a{
                  animation: buttonDown .3s ease-in-out;
                  @keyframes buttonDown {
                      0%{
                          opacity: 0;
                      }
                      100%{
                         opacity: 1;
                      }
                  }
                  span{
                      &:nth-child(1){
                          display: none;
                      }
                      &:nth-child(2){
                          display: inline-block;
                      }
                  }
              }
           }
           &:nth-child(2){
            .content{
                h3{
                    margin-bottom: 15%;
                    @media (max-width: 600px) {
                        margin-bottom: 20%;
                             }
                    @media (max-width: 384px) {
                        margin-bottom: 15%;
                             }
                    @media (max-width: 320px) {
                        margin-bottom: 10%;
                             }
                }
            .contentText{
                margin-bottom: 25%;
                @media (max-width: 320px) {
                    margin-bottom: 20%;
                         }
            }
            }
        }
           &:nth-child(3){
            .content{
                h3{
                    margin-bottom: 15%;
                    @media (max-width: 600px) {
                        margin-bottom: 20%;
                             }
                    @media (max-width: 384px) {
                        margin-bottom: 10%;
                             }
                    @media (max-width: 360px) {
                        margin-bottom: 6%;
                             }
                    @media (max-width: 320px) {
                        margin-bottom: 4%;
                             }
                }
                .contentText{
                    margin-bottom: 15%;
                    @media (max-width: 384px) {
                        margin-bottom: 12%;
                             }
                    @media (max-width: 320px) {
                        margin-bottom: 10%;
                             }
                }
            }
        }
           &:nth-child(4){
            .content{
                h3{
                    margin-bottom: 20%;
                    @media (max-width: 1440px) {
                        margin-bottom: 18%;
                             }
                    @media (max-width: 1024px) {
                        margin-bottom: 15%;
                             }
                    @media (max-width: 600px) {
                        margin-bottom: 20%;
                            }
                    @media (max-width: 384px) {
                        margin-bottom: 15%;
                            }
                    @media (max-width: 320px) {
                        margin-bottom: 5%;
                            }
                }
                .contentText{
                    margin-bottom: 25%;
                    @media (max-width: 1440px) {
                        margin-bottom: 20%;
                             }
                    @media (max-width: 1024px) {
                        margin-bottom: 15%;
                             }
                    @media (max-width: 600px) {
                        margin-bottom: 20%;
                             }
                    @media (max-width: 384px) {
                        margin-bottom: 15%;
                             }
                    @media (max-width: 320px) {
                        margin-bottom: 8%;
                             }
                }
               
            }
        }
           &:nth-child(5){
            .content{
                h3{
                    margin-bottom:30%;
                    @media (max-width: 1024px) {
                        margin-bottom: 25%;
                             }
                }
                .contentText{
                    margin-bottom: 25%;
                   
                }
            }
        }
           &:nth-child(6){
            .content{
                h3{
                    margin-bottom: 15%;
                    @media (max-width: 1440px) {
                        margin-bottom: 10%;
                             }
                    @media (max-width: 1024px) {
                        margin-bottom: 10%;
                             }
                    @media (max-width: 600px) {
                        margin-bottom: 20%;
                             }
                    @media (max-width: 420px) {
                        margin-bottom: 10%;
                             }
                    @media (max-width: 384px) {
                        margin-bottom: 7%;
                             }
                    @media (max-width: 320px) {
                        margin-bottom: 3%;
                             }
                }
                .contentText{
                    margin-bottom: 20%;
                    @media (max-width: 1440px) {
                        margin-bottom: 18%;
                             }
                    @media (max-width: 1024px) {
                        margin-bottom: 15%;
                             }
                    @media (max-width: 384px) {
                        margin-bottom: 10%;
                             }
                    @media (max-width: 320px) {
                        margin-bottom: 8%;
                             }
                   
                }
            }
        }
       }
        }
    }
  
}
.workHoursSection{
    text-align: center;
    @media (max-width: 1500px) {
        margin-top: 15%;
        margin-bottom: 10%;
             } 
    @media (max-width: 1024px) {
        margin-top: 60%;
        margin-bottom: 0%;
             } 
    @media (max-width: 600px) {
        margin-top: 270%;
             } 
    @media (max-width: 540px) {
        margin-top: 320%;
             } 
    @media (max-width: 420px) {
        margin-top: 350%;
             } 
    @media (max-width: 390px) {
        margin-top: 365%;
             } 
    .container{
        background-image: linear-gradient(120deg, $dental-light-blue 40%, $dental-light-pink);
        position: relative;
        width: 63%;
        border-radius: 35px;
        padding: 100px 0;
        margin:0 auto;
        overflow: hidden;
        @media (max-width: 1500px) {
           width: 85%;
                } 
        @media (max-width: 540px) {
           padding: 60px 20px;
                } 
        img{
            position: absolute;
            top: -20%;
            left: 50%;
            opacity: .08;
            z-index: 1;
            @media (max-width: 1024px) {
            width: 600px;
            height: 600px;
            top: -10%;
            left: 55%;
            opacity: .07;
                    } 
            @media (max-width: 600px) {
            width: 400px;
            height: 400px;
            top: 0%;
            left: 60%;
            opacity: .06;
            } 
            @media (max-width: 600px) {
            left:45%;
            } 
        }
        .text{
            padding:20px 0;
            color: white;
            font-size: 2em;
            font-weight: 400;
            z-index: 2;
            text-shadow: 0px 1px #3a023f;
            @media (max-width: 1024px) {
            font-size: 1.5em;   
            } 
            @media (max-width: 600px) {
                font-size: 1.2em;   
                } 
            @media (max-width: 540px) {
                font-size: 1.5em;   
                } 
            @media (max-width: 420px) {
                font-size: 1.2em;   
                } 
            @media (max-width: 280px) {
                font-size: 1em;   
                } 

        }
    }
}
.locationSection{
    text-align: center;
    @media (max-width: 800px) {
        margin-top: -10%;
               } 
    @media (max-width: 540px) {
        margin-top: -20%;
               } 
    @media (max-width: 320px) {
        margin-top: -10%;
               } 
    .container{
    background-image: linear-gradient(30deg, $dental-light-pink -40%, $dental-light-blue);
    position: relative;
    width: 63%;
    border-radius: 35px;
    height: 500px;
    margin:0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    @media (max-width: 1500px) {
      width: 90%;
             } 
    @media (max-width: 800px) {
      height: 700px;
      flex-wrap: wrap;
             } 
    @media (max-width: 600px) {
      height: 630px;
        } 
    @media (max-width: 540px) {
      padding: 0px 20px;
      width: 85%;
      height: 600px;
        } 
    @media (max-width: 320px) {
      height: 520px;
        } 
    img{
        position: absolute;
        left: -5%;
        top: 5%;
        opacity: .1;
        @media (max-width: 540px) {
            top:-20%;
            opacity: .06;
              }
    }
    .text{
        margin-top: 14%;
        margin-left: 5%;
        @media (max-width: 800px) {
           margin-top: 4%;
           margin-left: 0;
                   } 
    p{
        color: white;
        font-size: 2.5em;
        margin-bottom: 0;
        text-shadow: 0px 1px #3a023f;
        &:nth-child(2){
            font-size: 1.8em;
            margin-top: 5px;
            @media (max-width: 320px) {
                font-size: 1.4em;
                } 
        }
        @media (max-width: 420px) {
        font-size: 2em;
        } 
        @media (max-width: 320px) {
        font-size: 1.6em;
        } 
    }
    }
    .map{
        border-radius: 35px;
        margin-top: 7%;
        height: 350px;
        width: 500px;
        overflow: hidden;
        z-index: 1;
        @media (max-width: 800px) {
            margin-top: -5%;
                   } 
    }
   

}
}
.contactSection{
    @media (max-width: 1500px) {
       margin-top: 10%;
               } 
    @media (max-width: 1024px) {
       text-align: center;
       margin-top: 30%;
               } 
    @media (max-width: 420px) {
       margin-top: 55%;
               } 
    @media (max-width: 390px) {
       margin-top: 60%;
               } 

    .container{
        background-image: linear-gradient(120deg, $dental-light-blue 40%, $dental-light-pink);
        position: relative;
        width: 63%;
        border-radius: 35px;
        padding: 100px 0;
        margin:0 auto;
        overflow: hidden;
        height: 300px;
        @media (max-width: 1500px) {
            width: 90%;
                   } 
        @media (max-width: 1024px) {
            height: 260px;
                   } 
        @media (max-width: 540px) {
            width: 85%;
            height: 225px;            
            padding: 80px 20px;
                   } 
        @media (max-width: 540px) {
            height: 195px;            
                   } 
        .backgroundPhoto{
            position: absolute;
            right: 0%;
            top: -28%;
            opacity: .15;
            z-index: 0;
            @media (max-width: 1024px) {
            opacity: .1;
                } 
            @media (max-width: 540px) {
            opacity: .06;
                } 
        }
        .text{
         margin-left: 9%;
         margin-top: 2.5%;   
         z-index: 1;
         @media (max-width: 1024px) {
            margin-left: 0;
            } 
         @media (max-width: 540px) {
            margin-top: 0;
            } 
        p{
            font-size: 2em;
            color: white;
            text-shadow: 0px 1px #3a023f;
            margin: 5px;
            @media (max-width: 540px) {
                font-size: 1.6em;
                } 
            @media (max-width: 420px) {
                font-size: 1.3em;
                } 
            @media (max-width: 280px) {
                font-size: 1.2em;
                } 
            
            &:nth-child(1){
                font-size: 3.3em;
                @media (max-width: 540px) {
                    font-size: 2.5em;
                    } 
                @media (max-width: 420px) {
                    font-size: 2em;
                    } 
                @media (max-width: 320px) {
                    font-size: 1.8em;
                    } 
                @media (max-width: 280px) {
                    font-size: 1.65em;
                    } 
            }
            &:nth-child(2){
                margin-bottom: 10px;
            }
            &:nth-child(3){
                margin-bottom: 25px;
            }
        }
        
    }
        button{
            padding: 15px 25px 15px 25px;
            position: relative;
            border-radius: 35px;
            border: none;
            background: white;
            font-size: 1.3em;
            letter-spacing: 1px;
            margin-left: .5%;
            cursor: pointer;
            color: $dental-centar-blue;
            transition: .2s ease-in-out;
            outline: none;
            &:hover{
                transform: scale(1.05);
            }
            &:active{
                transform: scale(1);
            }
          img{
              height: 20px;
              width: 20px;
              transform: rotate(30deg);
              margin-left: -5px;
              margin-bottom: -3px;
          }
        }
    }
}
.overlayBackground{
    width: 100%;
    height: 800vh;
    position: absolute;
    background: rgba(255, 255, 255, 0.979);
    z-index: 33;
    top: 0;
    animation: introBackground .5s ease-in-out;
    @keyframes introBackground{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
@keyframes dropMenu {
    0%{
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg) translateY(0px);
    }
}
@keyframes introHeading {
    0%{
        opacity: 0;
        margin-top: 20px;
    }
    100%{
        
        opacity: 1;
        
    }
}