@import url(d:\ADEEPLEARN\Projekti\Web Design\Dental Centar Leskovac\website\style\include-media.css);
html {
  scroll-behavior: smooth;
}

body {
  background: #dee7ff;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #0076c1;
}

a {
  text-decoration: none;
  color: #0076c1;
}

header {
  font-size: 1.1em;
  height: 50px;
  padding: 0px 30px;
  border-radius: 30px;
  width: 80%;
  margin: 1% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 540px) {
  header {
    width: 90%;
    padding: 0 10px;
  }
}

header .hamburger {
  display: none;
  margin-top: 8px;
  margin-right: 5px;
  height: 40px;
  width: 40px;
  background: #0076c1;
  border-radius: 50%;
}

header .hamburger span {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 20px;
  height: 2px;
  background: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

header .hamburger span:nth-child(1) {
  margin-top: 12px;
}

header .hamburger span:nth-child(1).active {
  margin-top: 10px;
}

header .hamburger span:nth-child(3) {
  margin-bottom: 0;
}

header .hamburger span:nth-child(2).active {
  opacity: 0;
}

header .hamburger span:nth-child(3).active {
  -webkit-transform: translateY(-10px) rotate(45deg);
          transform: translateY(-10px) rotate(45deg);
  margin-top: 11px;
}

header .hamburger span.active {
  -webkit-transform: translateY(10px) rotate(-45deg);
          transform: translateY(10px) rotate(-45deg);
}

@media (max-width: 1024px) {
  header .hamburger {
    display: block;
  }
}

header .logo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .logo svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-top: 8px;
}

@media (max-width: 540px) {
  header .logo svg {
    width: 40px;
    height: 40px;
    margin-top: 7px;
  }
}

header .logo p {
  font-size: 1.2em;
  line-height: 10px;
  margin-left: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 540px) {
  header .logo p {
    font-size: 1em;
    margin-left: 5px;
    line-height: 18px;
  }
}

@media (max-width: 1024px) {
  header nav {
    display: none;
  }
}

header nav a {
  padding: 8px 15px;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

header nav a:hover {
  background: #d16eff;
  color: white;
}

@media (max-width: 1024px) {
  header nav.active {
    display: block;
    margin-top: 10%;
    height: 350px;
    z-index: 3;
    margin-right: -88%;
  }
}

@media (max-width: 800px) {
  header nav.active {
    margin-right: -77.5%;
    margin-top: 12%;
  }
}

@media (max-width: 600px) {
  header nav.active {
    margin-right: -67.5%;
  }
}

@media (max-width: 540px) {
  header nav.active {
    margin-right: -49.5%;
  }
}

@media (max-width: 420px) {
  header nav.active {
    margin-right: -38.5%;
    margin-top: 17%;
  }
}

@media (max-width: 320px) {
  header nav.active {
    margin-right: -22.5%;
    margin-top: 20%;
    font-size: .9em;
  }
}

@media (max-width: 1024px) {
  header nav.active a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border-radius: 0;
    background: #0076c1;
    color: white;
    border-bottom: 1px solid white;
  }
  header nav.active a:nth-child(1) {
    border-radius: 35px 0 0 0;
  }
  header nav.active a:nth-child(5) {
    border-radius: 0 0 0 35px;
  }
}

.section {
  height: 100vh;
}

@media (max-width: 1024px) {
  .section {
    height: 70vh;
  }
}

@media (max-width: 600px) {
  .section {
    height: 90vh;
  }
}

.section h2 {
  text-align: center;
  color: #0076c1;
  opacity: .7;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (max-width: 540px) {
  .section h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 420px) {
  .section h2 {
    font-size: 1.8em;
  }
}

.heroSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 70%;
  margin: 12.5% auto 0%;
}

@media (max-width: 1280px) {
  .heroSection {
    margin: 15% auto 0%;
    width: 75%;
  }
}

@media (max-width: 1180px) {
  .heroSection {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .heroSection {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60vh;
    margin-bottom: 18%;
  }
}

@media (max-width: 600px) {
  .heroSection {
    width: 95%;
  }
}

.heroSection .left {
  z-index: 1;
}

@media (max-width: 1024px) {
  .heroSection .left {
    margin-top: 25%;
  }
}

@media (max-width: 600px) {
  .heroSection .left {
    margin-top: 30%;
  }
}

@media (max-width: 540px) {
  .heroSection .left {
    margin-top: 42%;
  }
}

@media (max-width: 420px) {
  .heroSection .left {
    margin-top: 50%;
  }
}

@media (max-width: 360px) {
  .heroSection .left {
    margin-top: 60%;
  }
}

@media (max-width: 320px) {
  .heroSection .left {
    margin-top: 65%;
  }
}

.heroSection .left h1 {
  font-size: 3.5em;
  margin-bottom: 0;
  font-weight: 600;
}

@media (max-width: 1500px) {
  .heroSection .left h1 {
    font-size: 2.8em;
  }
}

@media (max-width: 540px) {
  .heroSection .left h1 {
    font-size: 2.2em;
  }
}

@media (max-width: 420px) {
  .heroSection .left h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
}

@media (max-width: 390px) {
  .heroSection .left h1 {
    font-size: 1.9em;
  }
}

@media (max-width: 360px) {
  .heroSection .left h1 {
    font-size: 1.7em;
    margin-bottom: 6px;
  }
}

@media (max-width: 320px) {
  .heroSection .left h1 {
    font-size: 1.5em;
    margin-bottom: 6px;
  }
}

@media (max-width: 280px) {
  .heroSection .left h1 {
    font-size: 1.4em;
  }
}

.heroSection .left h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: -5px;
}

@media (max-width: 1500px) {
  .heroSection .left h3 {
    font-size: 2.3em;
  }
}

@media (max-width: 540px) {
  .heroSection .left h3 {
    font-size: 2em;
  }
}

@media (max-width: 420px) {
  .heroSection .left h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
}

@media (max-width: 390px) {
  .heroSection .left h3 {
    font-size: 1.6em;
    margin-bottom: 6px;
  }
}

@media (max-width: 360px) {
  .heroSection .left h3 {
    font-size: 1.4em;
  }
}

@media (max-width: 320px) {
  .heroSection .left h3 {
    font-size: 1.3em;
  }
}

@media (max-width: 280px) {
  .heroSection .left h3 {
    font-size: 1.2em;
  }
}

.heroSection .left h3:nth-of-type(2) {
  font-size: 2.5em;
  margin: 0px 0 15px;
  font-weight: 300;
}

@media (max-width: 1500px) {
  .heroSection .left h3:nth-of-type(2) {
    font-size: 1.8em;
  }
}

@media (max-width: 420px) {
  .heroSection .left h3:nth-of-type(2) {
    font-size: 1.6em;
  }
}

@media (max-width: 390px) {
  .heroSection .left h3:nth-of-type(2) {
    font-size: 1.4em;
  }
}

@media (max-width: 360px) {
  .heroSection .left h3:nth-of-type(2) {
    font-size: 1.3em;
  }
}

@media (max-width: 320px) {
  .heroSection .left h3:nth-of-type(2) {
    font-size: 1.2em;
  }
}

@media (max-width: 280px) {
  .heroSection .left h3:nth-of-type(2) {
    font-size: 1.1em;
  }
}

.heroSection .left button {
  padding: 15px 25px;
  border-radius: 50px;
  color: white;
  background: #d16eff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid #4e005c;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  letter-spacing: 1px;
}

@media (max-width: 1500px) {
  .heroSection .left button {
    font-size: .7em;
  }
}

.heroSection .left button:hover {
  opacity: .8;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.heroSection .left button:active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.heroSection .right img {
  opacity: .5;
  top: -20%;
  right: -16%;
  position: absolute;
  height: 800px;
  width: 800px;
}

@media (max-width: 1500px) {
  .heroSection .right img {
    height: 550px;
    width: 550px;
  }
}

@media (max-width: 1280px) {
  .heroSection .right img {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 1090px) {
  .heroSection .right img {
    height: 450px;
    width: 450px;
    right: -8%;
    top: -15%;
  }
}

@media (max-width: 1024px) {
  .heroSection .right img {
    height: 450px;
    width: 450px;
    right: 23%;
    top: -20%;
  }
}

@media (max-width: 800px) {
  .heroSection .right img {
    height: 300px;
    width: 300px;
    top: -12.5%;
    right: 27%;
  }
}

@media (max-width: 600px) {
  .heroSection .right img {
    top: -12.5%;
    right: 25%;
  }
}

@media (max-width: 540px) {
  .heroSection .right img {
    top: -11.5%;
    right: 19%;
  }
}

@media (max-width: 420px) {
  .heroSection .right img {
    width: 250px;
    height: 250px;
    top: -8%;
  }
}

@media (max-width: 390px) {
  .heroSection .right img {
    width: 230px;
    height: 230px;
    right: 20%;
  }
}

@media (max-width: 360px) {
  .heroSection .right img {
    right: 17.5%;
    top: -6%;
  }
}

@media (max-width: 360px) {
  .heroSection .right img {
    right: 14.5%;
  }
}

@media (max-width: 280px) {
  .heroSection .right img {
    right: 9.5%;
  }
}

.servicesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1090px) {
  .servicesSection {
    margin-top: -30%;
  }
}

@media (max-width: 600px) {
  .servicesSection {
    margin-top: -20%;
  }
}

@media (max-width: 420px) {
  .servicesSection {
    margin-top: 0%;
  }
}

.servicesSection .container {
  height: 80%;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1500px) {
  .servicesSection .container {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 1280px) {
  .servicesSection .container {
    height: 90%;
  }
}

@media (max-width: 1024px) {
  .servicesSection .container {
    height: 90vh;
  }
}

@media (max-width: 600px) {
  .servicesSection .container {
    height: 100vh;
  }
}

.servicesSection .container .service {
  height: 360px;
  width: 360px;
  margin: 10px;
  border-radius: 45px;
}

@media (max-width: 1500px) {
  .servicesSection .container .service {
    height: 340px;
    width: 340px;
  }
}

@media (max-width: 1140px) {
  .servicesSection .container .service {
    height: 320px;
    width: 320px;
  }
}

@media (max-width: 600px) {
  .servicesSection .container .service {
    height: 370px;
    width: 370px;
  }
}

@media (max-width: 420px) {
  .servicesSection .container .service {
    height: 340px;
    width: 340px;
  }
}

@media (max-width: 390px) {
  .servicesSection .container .service {
    height: 320px;
    width: 320px;
  }
}

@media (max-width: 375px) {
  .servicesSection .container .service {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 320px) {
  .servicesSection .container .service {
    height: 267px;
  }
}

@media (max-width: 280px) {
  .servicesSection .container .service {
    height: 235px;
    width: 280px;
  }
}

.servicesSection .container .service:nth-child(1) {
  background: none;
  color: #d16eff;
  text-align: center;
}

.servicesSection .container .service:nth-child(1) h2 {
  margin-top: 40%;
  font-size: 3em;
  font-weight: 400;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .servicesSection .container .service:nth-child(1) {
    height: 140px;
    width: 200px;
    font-size: .7em;
  }
}

.servicesSection .container .service:nth-child(2) {
  background: url(../img/services/1.jpg) 26% 10%;
}

.servicesSection .container .service:nth-child(3) {
  background: url(../img/services/2.png) no-repeat 40% 60%;
}

.servicesSection .container .service:nth-child(4) {
  background: url(../img/services/3.jpg) no-repeat 40% 60%;
}

.servicesSection .container .service:nth-child(5) {
  background: url(../img/services/4.jpg) no-repeat 40% 80%;
}

.servicesSection .container .service:nth-child(6) {
  background: url(../img/services/5.jpg) no-repeat 60% 60%;
}

.servicesSection .container .service .content {
  background: #e19fffd2;
  height: 90%;
  width: 90%;
  padding: 5%;
  border-radius: 45px;
  position: relative;
  text-align: center;
}

@media (max-width: 1024px) {
  .servicesSection .container .service .content {
    background: #7ab4dbda;
  }
}

.servicesSection .container .service .content h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-top: 35%;
  margin-bottom: 10%;
}

.servicesSection .container .service .content a {
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.815);
  border-radius: 30px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: #8f2cbd;
}

@media (max-width: 1024px) {
  .servicesSection .container .service .content a {
    color: #0076c1;
  }
}

.servicesSection .container .service .content a:hover {
  font-size: 1.1em;
  background: white;
}

.servicesSection .container .service .content a:active {
  font-size: 1em;
  background: rgba(255, 255, 255, 0.815);
}

.servicesSection .container .service:nth-child(3) .content,
.servicesSection .container .service:nth-child(5) .content {
  background: #7ab4dbda;
}

.servicesSection .container .service:nth-child(3) .content a,
.servicesSection .container .service:nth-child(5) .content a {
  color: #0076c1;
}

.servicesSection .container .service:nth-child(5) .content h3 {
  margin-top: 41%;
  margin-bottom: 13%;
}

@media (max-width: 1024px) {
  .servicesSection .container .service:nth-child(2) .content,
  .servicesSection .container .service:nth-child(3) .content,
  .servicesSection .container .service:nth-child(6) .content {
    background: #e19fffd2;
  }
}

@media (max-width: 1024px) {
  .servicesSection .container .service:nth-child(2) .content a,
  .servicesSection .container .service:nth-child(3) .content a,
  .servicesSection .container .service:nth-child(6) .content a {
    color: #8f2cbd;
  }
}

@media (max-width: 600px) {
  .servicesSection .container .service:nth-child(3) .content {
    background: #7ab4dbda;
  }
}

.servicesSection .container .service:nth-child(3) .content a {
  color: #0076c1;
}

@media (max-width: 600px) {
  .servicesSection .container .service:nth-child(4) .content {
    background: #e19fffd2;
  }
}

.servicesSection .container .service:nth-child(4) .content a {
  color: #8f2cbd;
}

.workHoursSection {
  text-align: center;
}

@media (max-width: 1500px) {
  .workHoursSection {
    margin-top: 15%;
    margin-bottom: 10%;
  }
}

@media (max-width: 1024px) {
  .workHoursSection {
    margin-top: 60%;
    margin-bottom: 0%;
  }
}

@media (max-width: 600px) {
  .workHoursSection {
    margin-top: 270%;
  }
}

@media (max-width: 540px) {
  .workHoursSection {
    margin-top: 320%;
  }
}

@media (max-width: 420px) {
  .workHoursSection {
    margin-top: 350%;
  }
}

@media (max-width: 390px) {
  .workHoursSection {
    margin-top: 365%;
  }
}

.workHoursSection .container {
  background-image: linear-gradient(120deg, #7ab4dbda 40%, #e19fffd2);
  position: relative;
  width: 63%;
  border-radius: 35px;
  padding: 100px 0;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 1500px) {
  .workHoursSection .container {
    width: 85%;
  }
}

@media (max-width: 540px) {
  .workHoursSection .container {
    padding: 60px 20px;
  }
}

.workHoursSection .container img {
  position: absolute;
  top: -20%;
  left: 50%;
  opacity: .08;
  z-index: 1;
}

@media (max-width: 1024px) {
  .workHoursSection .container img {
    width: 600px;
    height: 600px;
    top: -10%;
    left: 55%;
    opacity: .07;
  }
}

@media (max-width: 600px) {
  .workHoursSection .container img {
    width: 400px;
    height: 400px;
    top: 0%;
    left: 60%;
    opacity: .06;
  }
}

@media (max-width: 600px) {
  .workHoursSection .container img {
    left: 45%;
  }
}

.workHoursSection .container .text {
  padding: 20px 0;
  color: white;
  font-size: 2em;
  font-weight: 400;
  z-index: 2;
  text-shadow: 0px 1px #3a023f;
}

@media (max-width: 1024px) {
  .workHoursSection .container .text {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .workHoursSection .container .text {
    font-size: 1.2em;
  }
}

@media (max-width: 540px) {
  .workHoursSection .container .text {
    font-size: 1.5em;
  }
}

@media (max-width: 420px) {
  .workHoursSection .container .text {
    font-size: 1.2em;
  }
}

@media (max-width: 280px) {
  .workHoursSection .container .text {
    font-size: 1em;
  }
}

.locationSection {
  text-align: center;
}

@media (max-width: 800px) {
  .locationSection {
    margin-top: -10%;
  }
}

@media (max-width: 540px) {
  .locationSection {
    margin-top: -20%;
  }
}

@media (max-width: 320px) {
  .locationSection {
    margin-top: -10%;
  }
}

.locationSection .container {
  background-image: linear-gradient(30deg, #e19fffd2 -40%, #7ab4dbda);
  position: relative;
  width: 63%;
  border-radius: 35px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 1500px) {
  .locationSection .container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .locationSection .container {
    height: 700px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .locationSection .container {
    height: 630px;
  }
}

@media (max-width: 540px) {
  .locationSection .container {
    padding: 0px 20px;
    width: 85%;
    height: 600px;
  }
}

@media (max-width: 320px) {
  .locationSection .container {
    height: 520px;
  }
}

.locationSection .container img {
  position: absolute;
  left: -5%;
  top: 5%;
  opacity: .1;
}

@media (max-width: 540px) {
  .locationSection .container img {
    top: -20%;
    opacity: .06;
  }
}

.locationSection .container .text {
  margin-top: 14%;
  margin-left: 5%;
}

@media (max-width: 800px) {
  .locationSection .container .text {
    margin-top: 4%;
    margin-left: 0;
  }
}

.locationSection .container .text p {
  color: white;
  font-size: 2.5em;
  margin-bottom: 0;
  text-shadow: 0px 1px #3a023f;
}

.locationSection .container .text p:nth-child(2) {
  font-size: 1.8em;
  margin-top: 5px;
}

@media (max-width: 320px) {
  .locationSection .container .text p:nth-child(2) {
    font-size: 1.4em;
  }
}

@media (max-width: 420px) {
  .locationSection .container .text p {
    font-size: 2em;
  }
}

@media (max-width: 320px) {
  .locationSection .container .text p {
    font-size: 1.6em;
  }
}

.locationSection .container .map {
  border-radius: 35px;
  margin-top: 7%;
  height: 350px;
  width: 500px;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 800px) {
  .locationSection .container .map {
    margin-top: -5%;
  }
}

@media (max-width: 1500px) {
  .contactSection {
    margin-top: 10%;
  }
}

@media (max-width: 1024px) {
  .contactSection {
    text-align: center;
    margin-top: 30%;
  }
}

@media (max-width: 420px) {
  .contactSection {
    margin-top: 55%;
  }
}

@media (max-width: 390px) {
  .contactSection {
    margin-top: 60%;
  }
}

.contactSection .container {
  background-image: linear-gradient(120deg, #7ab4dbda 40%, #e19fffd2);
  position: relative;
  width: 63%;
  border-radius: 35px;
  padding: 100px 0;
  margin: 0 auto;
  overflow: hidden;
  height: 300px;
}

@media (max-width: 1500px) {
  .contactSection .container {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .contactSection .container {
    height: 260px;
  }
}

@media (max-width: 540px) {
  .contactSection .container {
    width: 85%;
    height: 225px;
    padding: 80px 20px;
  }
}

@media (max-width: 540px) {
  .contactSection .container {
    height: 195px;
  }
}

.contactSection .container .backgroundPhoto {
  position: absolute;
  right: 0%;
  top: -28%;
  opacity: .15;
  z-index: 0;
}

@media (max-width: 1024px) {
  .contactSection .container .backgroundPhoto {
    opacity: .1;
  }
}

@media (max-width: 540px) {
  .contactSection .container .backgroundPhoto {
    opacity: .06;
  }
}

.contactSection .container .text {
  margin-left: 9%;
  margin-top: 2.5%;
  z-index: 1;
}

@media (max-width: 1024px) {
  .contactSection .container .text {
    margin-left: 0;
  }
}

@media (max-width: 540px) {
  .contactSection .container .text {
    margin-top: 0;
  }
}

.contactSection .container .text p {
  font-size: 2em;
  color: white;
  text-shadow: 0px 1px #3a023f;
  margin: 5px;
}

@media (max-width: 540px) {
  .contactSection .container .text p {
    font-size: 1.6em;
  }
}

@media (max-width: 420px) {
  .contactSection .container .text p {
    font-size: 1.3em;
  }
}

@media (max-width: 280px) {
  .contactSection .container .text p {
    font-size: 1.2em;
  }
}

.contactSection .container .text p:nth-child(1) {
  font-size: 3.3em;
}

@media (max-width: 540px) {
  .contactSection .container .text p:nth-child(1) {
    font-size: 2.5em;
  }
}

@media (max-width: 420px) {
  .contactSection .container .text p:nth-child(1) {
    font-size: 2em;
  }
}

@media (max-width: 320px) {
  .contactSection .container .text p:nth-child(1) {
    font-size: 1.8em;
  }
}

@media (max-width: 280px) {
  .contactSection .container .text p:nth-child(1) {
    font-size: 1.65em;
  }
}

.contactSection .container .text p:nth-child(2) {
  margin-bottom: 10px;
}

.contactSection .container .text p:nth-child(3) {
  margin-bottom: 25px;
}

.contactSection .container button {
  padding: 15px 25px 15px 25px;
  position: relative;
  border-radius: 35px;
  border: none;
  background: white;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin-left: .5%;
  cursor: pointer;
  color: #0076c1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  outline: none;
}

.contactSection .container button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contactSection .container button:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contactSection .container button img {
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  margin-left: -5px;
  margin-bottom: -3px;
}
/*# sourceMappingURL=style.css.map */